@font-face {
    src: url('../fonts/PT-Astra-Sans_Bold.ttf');
    font-family: 'Astra Sans Bold';
}
  
@font-face {
    src: url('../fonts/PT-Astra-Sans_Bold-Italic.ttf');
    font-family: 'Astra Sans Bold Italic';
}

@font-face {
    src: url('../fonts/PT-Astra-Sans_Italic.ttf');
    font-family: 'Astra Sans Italic';
}

@font-face {
    src: url('../fonts/PT-Astra-Sans_Regular.ttf');
    font-family: 'Astra Sans Regular';
}

.hidden {
    display: none;
}

body {
    font-family: 'Astra Sans Regular',  Arial, Helvetica, sans-serif;
    margin: 0;
    margin-top: 75px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    background-color: rgb(251, 251, 251);
}

header {
    background-color: #163E6C;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    position: fixed;
    height: 75px;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
}

nav {
    height: 100%;
}

footer {
    position: fixed;
    margin-top: -80px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #163E6C;
}

.div-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 10px;
}

.div-footer-text {
    font-family: 'Astra Sans Bold',  Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #EBE6D6;
}

.div-footer-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    font-family: 'Astra Sans Regular',  Arial, Helvetica, sans-serif;
    font-size: 18pt;
    color: #163E6C;
    text-align: center;
}

.form-control {
    text-align: center;
    height: 30px;
    display: flex;
    flex-direction: raw;
    justify-content: center;
}

.form-control input {
    border: 2px solid #163E6C;
    color: #163E6C;
    font-family: 'Astra Sans Bold',  Arial, Helvetica, sans-serif;
    font-size: 19px;
    cursor: pointer;
    border-radius: 3px;
    background-color: #f5f4ed;
    outline: none;
    width: 170px;
}

.form-button {
    font-size: 0;
    text-indent: -999999px;
    width: 35px !important;
    height: 35.8px;
    margin-left: 5px;
    border: none !important;
    margin: 0;
    margin-left: 3px;
    padding: 3px;
    background-size: 28px 28px;
    background-position: center;
    background-color: #EBE6D6 !important;
}

.button {
    background-color: #0e0d0d;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    color: #FFFFFF;
    padding: 10px 18px;
    font-family: 'Astra Sans Bold',  Arial, Helvetica, sans-serif;
    font-size: 17px;
    border-radius: 2px;
    margin-right: 5px;
}

.buttons {
    align-items: center;
    display: flex;
    flex-direction: raw;
    justify-content: center;
}

.form-login {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-login-in {
    border: 2px solid #163E6C;
    color: #163E6C;
    font-family: 'Astra Sans Bold',  Arial, Helvetica, sans-serif;
    font-size: 19px;
    cursor: pointer;
    border-radius: 3px;
    background-color: #f5f4ed;
    outline: none;
    height: 30px;
    width: 210px;
}

li {
    list-style-type: none;
}

.li-login {
    border-radius: 10px;
    margin: 10px 20px;
}

.login-title {
    font-family: 'Astra Sans Regular',  Arial, Helvetica, sans-serif;
    font-size: 18pt;
    color: #163E6C;
    text-align: center;
    padding-top: 20px;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-login {
    background-color: #0e0d0d;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    color: #FFFFFF;
    padding: 10px 18px;
    font-family: 'Astra Sans Bold',  Arial, Helvetica, sans-serif;
    font-size: 17px;
    border-radius: 2px;
}

.label-login {
    font-family: 'Astra Sans Regular',  Arial, Helvetica, sans-serif;
    font-size: 13pt;
    color: #163E6C;
    text-align: center;
}

.li-text {
    font-family: 'Astra Sans Bold',  Arial, Helvetica, sans-serif;
    font-size: 22pt;
    color: #EBE6D6;
    text-align: center;
}

main {
    background-color: rgb(251, 251, 251);
}