{% extends '../default.html' %}
{% csrf_token %}
{% load static %}

{% block title %}
Claim
{% endblock title %}
 
{% block content %}
<link link href="{% static 'css/default.css'%}" rel="stylesheet" />
<link link href="{% static 'css/forklifts.css'%}" rel="stylesheet" />
   <h2>Все рекламации</h2>

    <form action = "" method = "get">
       {{ filterset.form.as_p}}
       <input type = "submit" valut = "Найти" />
    </form>

    <hr>
    {% if claims %}
        <table id = "table3" style="display:block;" class="common-table">
          <thead>
            <tr>
                <th> Дата отказа </th>
                <th> Наработка, м/час </th>
                <th> Узел отказа </th>
                <th> Описание отказа </th>
                <th> Способ восстановления </th>
                <th> Используемые запасные части </th>
                <th> Дата восстановления </th>
                <th> Время простоя техники </th>
                <th> машина </th>
                <th> сервисная компания </th>
            </tr>
          </thead>

           {% for claim in claims %}
            <tr>
                <td>{{ claim.orders_date }}</td>
                <td>{{ claim.operating }}</td>
                <td><a href="{% url 'nature_failure_detail' claim.order_note.pk %}">{{ claim.order_note.title }}</a></td>
                <td>{{ claim.order_description }}</td>
                <td><a href="{% url 'recovery_method_detail' claim.recovery_method.pk %}">{{ claim.recovery_method.title }}</a></td>
                <td>{{ claim.used_spare_parts }}</td>
                <td>{{ claim.recovery_date }}</td>
                <td>{{ claim.downtime }}</td>
                <td><a href="{% url 'forklift_detail' claim.car.pk %}">{{ claim.car.machine_serial_number }}</a></td>
                <td><a href="{% url 'service_company_detail' claim.service_company.pk %}">{{ claim.service_company.title }}</a></td>
            </tr>
           {% endfor %}
        </table>
    {% else %}
       <h2>Рекламаций нет!s</h2>
   {% endif %}
{% endblock content %}