{% extends '../default.html' %}
{% csrf_token %}
{% load static %}

{% block title %}
Forklifts
{% endblock title %}
 
{% block content %}
    <link href="{% static 'css/forklifts.css'%}" rel="stylesheet" />
    <div class="div-yellow">
        {% if user.is_authenticated %}
            {% if user_in_group_manager or user.is_superuser %}
                <p class="title"> {{ user.username }}</p>
            {% elif user_in_group_service_company %}
                <p class="title"> {{ forklift.0.service_company.title }}</p>
            {% else %}
                <p class="title"> {{ forklift.0.client.title }} </p>
            {% endif %}
            <div class="buttons">
                <button id="table1-button" class="button"><a href="{% url 'forklift_list' %}">Показать машину</a></button>
                <button id="table2-button" class="button"><a href="{% url 'to_list' %}">Показать TO</a></button>
                <button id="table3-button" class="button"><a href="{% url 'claim_list' %}">Показать рекламации</a></button>
            </div>
            <hr>
            <div class="button">
                <button id="filter-button" class="button">Фильтр</button>
                <div id = "filter-block" class = "hidden">
                    <form action="" method="get" class="form-login">
                        {{filterset.form.non_field_errors}}
                        {{filterset.form.model_equipment__title__icontains.errors }}
                        <label for="{{filterset.form.model_equipment__title__icontains.id_for_label}}" class="label-login">Модель погрузчика</label>
                        <input 
                            id="{{filterset.form.model_equipment__title__icontains.id}}"
                            name="{{filterset.form.model_equipment__title__icontains.name}}"
                            value="{{filterset.form.model_equipment__title__icontains.id}}"
                            class="form-login-in"
                        >

                        {{filterset.form.engine_model__title__icontains.errors }}
                        <label for="{{filterset.form.engine_model__title__icontains.id_for_label}}"class="label-login">Модель двигателя</label>
                        <input 
                            id="{{filterset.form.engine_model__title__icontains.id}}"
                            name="{{filterset.form.engine_model__title__icontains.name}}"
                            value="{{filterset.form.engine_model__title__icontains.id}}"
                            class="form-login-in"
                        >

                        {{filterset.form.transmission_model__title__icontains.errors }}
                        <label for="{{filterset.form.transmission_model__title__icontains.id_for_label}}" class="label-login">Модель трансмиссии</label>
                        <input 
                            id="{{filterset.form.transmission_model__title__icontains.id}}"
                            name="{{filterset.form.transmission_model__title__icontains.name}}"
                            value="{{filterset.form.transmission_model__title__icontains.id}}"
                            class="form-login-in"
                        >

                        {{filterset.form.drive_axle_model__title__icontains.errors }}
                        <label for="{{filterset.form.drive_axle_model__title__icontains.id_for_label}}" class="label-login">Модель ведущего моста</label>
                        <input 
                            id="{{filterset.form.drive_axle_model__title__icontains.id}}"
                            name="{{filterset.form.drive_axle_model__title__icontains.name}}"
                            value="{{filterset.form.drive_axle_model__title__icontains.id}}"
                            class="form-login-in"
                        >

                        {{filterset.form.controlled_bridge_model__title__icontains.errors }}
                        <label for="{{filterset.form.controlled_bridge_model__title__icontains.id_for_label}}" class="label-login">Модель управляемого моста</label>
                        <input 
                            id="{{filterset.form.controlled_bridge_model__title__icontains.id}}"
                            name="{{filterset.form.controlled_bridge_model__title__icontains.name}}"
                            value="{{filterset.form.controlled_bridge_model__title__icontains.id}}"
                            class="form-login-in"
                        >
                        <div class="button">
                            <input type="submit" class="button" value="Найти" />
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            <h3 class="title">Проверьте комплектацию и технические характеристики техники Силант</h3>
            <form class="form-control" action="" method="get">
                {{filterset.form.non_field_errors}}
                {{filterset.form.machine_serial_number__icontains.errors }}
                <input
                    id="{{filterset.form.machine_serial_number__icontains.id}}"
                    name="{{filterset.form.machine_serial_number__icontains.name}}"
                    value="{{filterset.form.machine_serial_number__icontains.id}}"
                    class="form-control"
                    placeholder="Заводской номер"
                >
                <input type="submit" class="form-button"  value="Найти">
            </form>
        {% endif %}
    </div>
    <div id="table-container" class="div-white">
        <h5 id = "table_header_1" style="display:block;" class="login-title">Информация о комплектации и технических характеристиках Вашей техники</h5>
        <table id = "table1" class="common-table">
            {% if forklifts %}
            <thead>
            <tr>
                <th> Зав. № машины </th>
                <th> Модель техники </th>
                <th> Модель двигателя </th>
                <th> Зав. № двигателя </th>
                <th> Модель трансмиссии </th>
                <th> Зав. № трансмиссии </th>
                <th> Модель ведущего моста </th>
                <th> Зав. № ведущего моста </th>
                <th> Модель управляемого моста </th>
                <th> Зав. № управляемого моста </th>
                {% if user.is_authenticated %}
                    <th> Договор поставки №, дата </th>
                    <th> Дата отгрузки с завода </th>
                    <th> Грузополучатель (конечный потребитель) </th>
                    <th> Адрес поставки (эксплуатации) </th>
                    <th> Комплектация (доп. опции) </th>
                    <th> Клиент </th>
                    <th> Сервисная компания </th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for forklift in forklifts %}
            <tr>
                    {% if user.is_authenticated %}
                        <td><a href="{% url 'forklift_detail' forklift.pk %}">{{ forklift.machine_serial_number }}</a></td>
                        <td><a href="{% url 'model_equipment_detail' forklift.model_equipment.pk %}">{{ forklift.model_equipment.title }}</a></td>
                        <td><a href="{% url 'engine_model_detail' forklift.engine_model.pk %}">{{ forklift.engine_model.title }}</a></td>
                        <td>{{ forklift.engine_serial_number }}</td>
                        <td><a href="{% url 'transmission_model_detail' forklift.transmission_model.pk %}">{{ forklift.transmission_model.title }}</a></td>
                        <td>{{ forklift.transmission_serial_number }}</td>
                        <td><a href="{% url 'drive_axle_model_detail' forklift.drive_axle_model.pk %}">{{ forklift.drive_axle_model.title }}</a></td>
                        <td>{{ forklift.drive_axle_serial_number }}</td>
                        <td><a href="{% url 'controlled_bridge_model_detail' forklift.controlled_bridge_model.pk %}">{{ forklift.controlled_bridge_model.title }}</a></td>
                        <td>{{ forklift.controlled_bridge_serial_number }}</td>
                        <td>{{ forklift.delivery_contract }}</td>
                        <td>{{ forklift.date_of_shipment }}</td>
                        <td>{{ forklift.end_user }}</td>
                        <td>{{ forklift.delivery_address|truncatechars:20 }}</td>
                        <td>{{ forklift.equipment|truncatewords:6 }}</td>
                        <td><a href="{% url 'client_detail' forklift.client.pk %}">{{ forklift.client.title }}</a></td>
                        <td><a href="{% url 'service_company_detail' forklift.service_company.pk %}">{{ forklift.service_company.title }}</a></td>
                    {% else %}
                        <td>{{ forklift.machine_serial_number }}</td>
                        <td>{{ forklift.model_equipment.title }}</td>
                        <td>{{ forklift.engine_model.title }}</td>
                        <td>{{ forklift.engine_serial_number }}</td>
                        <td>{{ forklift.transmission_model.title }}</td>
                        <td>{{ forklift.transmission_serial_number }}</td>
                        <td>{{ forklift.drive_axle_model.title }}</td>
                        <td>{{ forklift.drive_axle_serial_number }}</td>
                        <td>{{ forklift.controlled_bridge_model.title }}</td>
                        <td>{{ forklift.controlled_bridge_serial_number }}</td>
                    {% endif %}
            </tr>
            {% endfor %}
            </tbody>
            {% else %}
                <h2 id="table_header_2" style="display:block;" class="login-title">Техники нет.</h2>
            {% endif %}
        </table> 

    </div>
    {% block extra_js %}
        <script src="{% static 'scripts/hokkscript.js' %}"></script>
    {% endblock %}
{% endblock content %}