{% extends '../default.html' %}
{% csrf_token %}
{% block title %}
Узел отказа
{% endblock title %}

{% block content %}
<br>
<h5>Информация об узле отказа</h5>
<hr>
{% if nature_failure %}
<div>
    <h5>Название:</h5>
    <p>{{nature_failure.title }}</p>
</div>
<div>
    <h5>Описание:</h5>
    <p>{{nature_failure.description }}</p>
</div>
{% else %}
<h2>Узел отказа отсутсвует!</h2>
{% endif %}
</hr>
{% if user.is_superuser or user_in_group_manager %}
    <button><a href="{% url 'nature_failure_create' %}">Создать узел отказа</a></button>
    <button><a href="{% url 'nature_failure_update' nature_failure.pk %}">Редактировать узел отказа</a></button>
    <button><a href="{% url 'nature_failure_delete' nature_failure.pk %}">Удалить узел отказа</a></button>
{% endif %}
{% endblock content %}